---
import type { Video } from "../lib/types";
import Search from "../components/search";
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/sidebar";

export async function getStaticPaths() {
  const websiteId: string = import.meta.env.WEBSITE_ID;

  const response = await fetch(
    `http://localhost:3000/api/getAllVideos?websiteId=${websiteId}`
  );

  const videos: Video[] = await response.json();

  return videos.map((video) => {
    return {
      params: { id: video.id },
    };
  });
}

const { id } = Astro.params;

const response = await fetch(
  `http://localhost:3000/api/getVideo?videoId=${id}`
);

const video: Video = await response.json();
---

<Layout title={video.title}>
  <main class="min-h-screen w-full flex flex-col">
    <div class="sticky top-0 z-10">
      <nav
        class="navbar bg-base-100 flex flex-col sm:flex-row gap-2 justify-between items-center px-4 py-4 backdrop-blur-sm bg-opacity-70"
      >
        <a class="btn btn-ghost normal-case text-xl" href="/">Your Website</a>
        <Search client:visible />
      </nav>
      <div class="h-0.5 bg-primary"></div>
    </div>
    <div class="grow bg-base-300 flex flex-col lg:flex-row w-full">
      <div
        class="grow flex flex-col h-[calc(100vh-136px)] sm:h-[calc(100vh-82px)]"
      >
        <iframe allowfullscreen class="w-full grow" src={video.embedUrl}
        ></iframe>
        <h1 class="p-4 text-2xl">{video.title}</h1>
      </div>
      <div class="divider m-0 divider-horizontal"></div>
      <Sidebar video={video} client:load />
    </div>
  </main>
</Layout>
